<div class="container">
    <div class="bg-card">
        <div class="widget-card"
        *ngFor = "let item of content"
        (click)="log(item)">
            
            <div class="clr-row">
                
                <div class="clr-col-sm-12 clr-col-md-5">
                    <div class="iframe-place-holder">
                        <iframe></iframe>
                    </div>
                </div>

                <div class="clr-col-sm-12 clr-col-md-7">
                    <h3>{{ item.websiteName }}</h3>
                    <hr>
                    <p>Views : {{ item.views }}</p>
                </div>
                
            </div>

        </div>
    </div>
</div>