/*
    ========== COLUMNS ==========
        Columns for rows and columns, and incuded here for modularity..
        Uses flexbox to achieve responsiveness.
        Taken from Project Clarity CSS
        https://clarity.design/documentation/cards
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clr-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.6rem;
    margin-left: -0.6rem;
}
 
 .clr-col-md-7, .clr-col-md-6, .clr-col-md-5, .clr-col-sm-12 {
  width: 100%;
  min-height: 0.05rem;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

@media (min-width: 576px) {
    .clr-col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .clr-col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .clr-col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .clr-col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .clr-col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .clr-col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .clr-col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }
}
/*  ------ * ------ */

/*
    ========== CUSTOM STYLES ==========
*/

.container {
    width: 95%;
    padding: 5px;
    margin: auto;
    align-items: center;
    align-self: center;
    flex-grow: 1;
}

.bg-card {
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
    box-shadow: 0px 1px 3px 0px #0e161b;
    border-radius: 5px;

    .widget-card {
        margin: 5px;
        padding: 5px;
        padding-bottom : 10px;
        background-color: #fff;
        border-radius: 5px;
           
        .iframe-place-holder {
            background-color: #afafaf;
            border: 0.5px solid black;
        
            iframe {
                width: 100%;
                border: none;
                height: auto;
            }
        
        }
    }
}

